.search-panel {
    margin-top: 30px;
    padding: 25px;
    background-color: #416493;
    border-radius: 4px;
    box-shadow: 15px 15px 30px #636363;
    color:azure;
}

.search-panel input::placeholder {
    font-size: 20px;
}